In [73]:
import pandas as pd
import graphene
import extraction
import requests
import os
import json
import requests
import base58
import binascii
from tqdm import tqdm
import requests
from gql import Client, gql
from gql.transport.requests import RequestsHTTPTransport

In [2]:
# Trad extract using requests for title, url, image
def extract(url):
    html = requests.get(url).text
    extracted = extraction.Extractor().extract(html, source_url=url)
    return extracted

In [3]:
extract('https://www.moesif.com/blog/technical/graphql/Getting-Started-with-Python-GraphQL-Part1/')

<Extracted: (title: 'Getting Started with Python and GraphQL - Part 1', 5 more), (url: 'https://www.moesif.com/blog/technical/graphql/Gett'), (image: 'https://blog.moesif.com/images/posts/technical/gra', 8 more), (description: 'Getting started with GraphQL & Python using Django', 5 more)>

In [9]:
USER_RESERVES_QUERY = """
{{
  userReserves(where: {{ user: "{address}"}}) {{
    id
    reserve{{
      id
      symbol
    }}
    user {{
      id
    }}
  }}
}}"""
url = 'https://api.thegraph.com/subgraphs/name/aave/protocol-raw'
transport = RequestsHTTPTransport(url=url, retries=5)

try:
    client = Client(transport=transport, fetch_schema_from_transport=True)
except (requests.exceptions.RequestException) as e:
    raise ValueError(f'Failed to connect to the graph at {url} due to {str(e)}') from e

address = '0xd791427e372186E90637caF1D6D6AFb054BeeC7A'
query = client.execute(gql(USER_RESERVES_QUERY.format(address=address.lower())),)

In [81]:
def TestGql(url):
    transport = RequestsHTTPTransport(url=url, retries=5)

    try:
        client = Client(transport=transport, fetch_schema_from_transport=True)
    except (requests.exceptions.RequestException) as e:
        raise ValueError(f'Failed to connect to the graph at {url} due to {str(e)}') from e

    query = gql(
            """
            {
            punks(first: 5) {
                id
                owner {
                id
                }
                totalOwners
                highestPrice
                sales {
                id
                }
            }
            accounts(first: 5) {
                id
                totalSpentBuyingPunks
                totalEarnedSellingPunks
                totalPunks
            }
            }
            """
        )

    # Execute the query on the transport
    result = client.execute(query)
    return result

In [82]:
TestGql(url='https://api.thegraph.com/subgraphs/name/crazyrabbitltc/punk-tools')

{'accounts': [{'id': '0x0000000000000000000000000000000000000000',
   'totalEarnedSellingPunks': '0',
   'totalPunks': '3833',
   'totalSpentBuyingPunks': '0'},
  {'id': '0x0000000000000000000000000000000000000001',
   'totalEarnedSellingPunks': '0',
   'totalPunks': '1',
   'totalSpentBuyingPunks': '0'},
  {'id': '0x0000000000000000000000000000000000000002',
   'totalEarnedSellingPunks': '0',
   'totalPunks': '0',
   'totalSpentBuyingPunks': '0'},
  {'id': '0x0000000000000000000000000000000000000003',
   'totalEarnedSellingPunks': '0',
   'totalPunks': '0',
   'totalSpentBuyingPunks': '0'},
  {'id': '0x0000000000000000000000000000000000000004',
   'totalEarnedSellingPunks': '0',
   'totalPunks': '0',
   'totalSpentBuyingPunks': '0'}],
 'punks': [{'highestPrice': '0',
   'id': '0',
   'owner': {'id': '0x0000000000000000000000000000000000000000'},
   'sales': [{'id': '0x24893e1197d9da51601987636e2c2bea6d7e56391eb410b44ff5aa8ea80fc068-punkBought'},
    {'id': '0x54c8c5d3762eb02d657034873eb43f2cd0c7e28c11c94cf64c63755c749a4d86-punkBought'},
    {'id': '0x5687d030ddf9059d8098f6095e679085dd153ceb6d5b2f45ac36c16876de94e5-punkBought'}],
   'totalOwners': '6'},
  {'highestPrice': '31000000000000000000',
   'id': '1',
   'owner': {'id': '0xb88f61e6fbda83fbfffabe364112137480398018'},
   'sales': [{'id': '0xcbc7fbb7b2933d9138da69dba399c9b8d65cffe151916145d5ccb32fe513be79-punkBought'},
    {'id': '0xf0f63e81ea1858388eb274a2ba516c3cc796d61a85194bccb1911ff00be98084-punkBought'},
    {'id': '0xf4af5563f3c4c3b26dee3ab027902f113bee5985b28d9ede5b81ab42b46abb30-punkBought'}],
   'totalOwners': '10'},
  {'highestPrice': '0',
   'id': '10',
   'owner': {'id': '0xc352b534e8b987e036a93539fd6897f53488e56a'},
   'sales': [],
   'totalOwners': '2'},
  {'highestPrice': '0',
   'id': '100',
   'owner': {'id': '0xc352b534e8b987e036a93539fd6897f53488e56a'},
   'sales': [],
   'totalOwners': '2'},
  {'highestPrice': '9990000000000000000',
   'id': '1000',
   'owner': {'id': '0xdfc05563f947718ca9ebd9e685022a200a5075c8'},
   'sales': [{'id': '0xbc4269a89bcd5a7075b202c4d60b4c7df06586e51593da03bf1bcb8fd2162ad5-punkBought'},
    {'id': '0xfa2a58e1a2eb7a0bac766556e5c87f9b4f4d11ed444ddad7bf1f8a1abe1faa31-punkBought'}],
   'totalOwners': '6'}]}

In [45]:
def TestGql(url, punk_id):
    transport = RequestsHTTPTransport(url=url, retries=5)

    try:
        client = Client(transport=transport, fetch_schema_from_transport=True)
    except (requests.exceptions.RequestException) as e:
        raise ValueError(f'Failed to connect to the graph at {url} due to {str(e)}') from e

    query = gql(
            """
            {
            purchases(where: {punk: "punk_id"}) {
                id
                punk {
                id
                }
                seller
                buyer {
                id
                }
                amount
                transaction {
                id
                }
            }
            }
            """.replace("punk_id", str(punk_id))
        )

    # Execute the query on the transport
    result = client.execute(query)
    return result

In [76]:
TestGql(url='https://api.thegraph.com/subgraphs/name/itsjerryokolo/cryptopunks', punk_id=(range(3392,10,1)))

{'purchases': []}

In [74]:
punk_list = []

for i in tqdm(range(0,10,1)): #pages 2 through 450
    punks = TestGql(url='https://api.thegraph.com/subgraphs/name/itsjerryokolo/cryptopunks', punk_id=(i))
    punk_list.append(punks)

100%|██████████| 10/10 [00:03<00:00,  3.24it/s]

In [75]:
punk_list

[{'purchases': [{'amount': '0',
    'buyer': {'id': '0x0000000000000000000000000000000000000000'},
    'id': '0',
    'punk': {'id': '0'},
    'seller': '0xf5099e196469257c0d457e896a648d5f616af034',
    'transaction': {'id': '0x5687d030ddf9059d8098f6095e679085dd153ceb6d5b2f45ac36c16876de94e5'}}]},
 {'purchases': [{'amount': '0',
    'buyer': {'id': '0x0000000000000000000000000000000000000000'},
    'id': '1',
    'punk': {'id': '1'},
    'seller': '0xee3766e4f996dc0e0f8c929954eaafef3441de87',
    'transaction': {'id': '0xf4af5563f3c4c3b26dee3ab027902f113bee5985b28d9ede5b81ab42b46abb30'}}]},
 {'purchases': []},
 {'purchases': []},
 {'purchases': []},
 {'purchases': []},
 {'purchases': []},
 {'purchases': []},
 {'purchases': []},
 {'purchases': []}]

In [71]:
pd.concat({k: pd.DataFrame(v) for k, v in foo.items()}, axis=0)

,,amount,buyer,id,punk,seller,transaction
purchases,0,50020000000000000000,{'id': '0x701f373df763308d96d8537822e8f9b2bae4...,3392,{'id': '3392'},0x82898337f03c1d73133213580b0d9855d3a5573f,{'id': '0xf2fc78a37c0a50febd02181cdf386d531c0b...